@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Playfair+Display:wght@800&family=Space+Grotesk:wght@500&display=swap');

body, label, input, button{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
}

input, button {
  border-radius: 10px; 
  padding: 10px; 
  border: 1px solid #ccc;
}

input {
  margin-top: 5px;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

form {
  width: 400px;
  margin: 0 auto;
  background-size: 500px;
  background-repeat: no-repeat;
  position:fixed;
  top: 180px;
  left: 870px;
}

#image{
  width: 500px;
  height: 900px;
  background-image: url("/bg-main-desktop.png");
  background-size: 600px;
  background-repeat: no-repeat;
  position:fixed;
  top: 0px;
  left: 0px;
}

#card_front{
  width: 447px;
  height: 245px;
  background-image: url("/bg-card-front.png");
  background-size: 400px;
  background-repeat: no-repeat;
  position:absolute;
  top: 135px;
  left: 230px;
}

#card_back{
  width: 447px;
  height: 245px;
  background-image: url("/bg-card-back.png");
  background-size: 400px;
  background-repeat: no-repeat;
  position:absolute;
  top: 375px;
  left: 320px;
}

#date {
  width: 150px;
  display: inline-block;
  margin-bottom: 10px;
}

#same_line1, #same_line2{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
}

#cvv{
  height: 100%;
  width: 118%;
  padding: 10px;
}

button {
  height: 100%;
  width: 106%;
  padding: 10px;
  background-color: hsl(278, 100%, 11%);
  color: #fff;
  border: none;
}

#output_name{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  color: antiquewhite;
  position:fixed;
  top: 310px;
  left: 260px;
}

#output_number{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 26px;
  color: antiquewhite;
  position:fixed;
  top: 250px;
  left: 260px;
}

#output_line1{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  position:fixed;
  top: 310px;
  left: 540px;
}
#output_line2{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  position:fixed;
  top: 310px;
  left: 566px;
}

#output_cvv{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  position:fixed;
  top: 474px;
  left:650px;
}

#barra{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  position:fixed;
  top: 310px;
  left: 557px;
}

#symbol {
  position: fixed;
  top: 165px;
  left: 260px;
  width: 40px;
  height: 40px;
  background-color: #ffffff; 
  border-radius: 100%; 
  display: inline-block;
}

#symbol2{
  position: fixed;
  top: 176px;
  left: 310px;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%; 
}

